body {
    background-image: url("recepH.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nomeMarca{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    font-weight: 600;
    font-size: 200%;
}

.numCalc {
    font-size: 40px;
    size: 30px;
    text-align: center;
    margin: 100px auto;
    display: block;
    color: black;
    background-color: gray;
    padding: 40px;
}

.textoDigitado{
    height: 45px;
    width: 350;
    border: #cccccc solid 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 100px auto;
    display: block;
    text-align: justify;
}

.botaoCalc{
    font-size: 20px;
    size: 1px;
    text-align: center;
    margin: 1px auto;
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
    display: block;
    background-image: url("logo.jpeg");
}