body {
    background-image: url(hotel.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1, p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 200%;
}

.b2 {
    text-align: justify;
    margin: 100px auto;
    display: block;
    color: black;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 2cm;
    padding: 10px;

}
.b1{
    font-size: 40px;
    size: 30px;
    text-align: center;
    margin: 100px auto;
    display: block;
    color: black;
    background-color: white;
    padding: 10px;
}

   