body {
    background-image: url(hotel.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1, p{
    font-family: monospace;
    color: white;
    text-align: center;
    font-weight: 600;
    border: 1px solid white;
}

.b2 {
text-align: justify;
margin: 200px auto;
display: block;
color: wheat;
background-color: blue;
font-family: monospace
}
 .b1{
     font-size: 1cm;
     size: 1cm;
     text-align: center;
     margin: 200px auto;
     display: block;
     color: blue;
     background-color: wheat
 }




   